{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Formulario Cliente {% endblock%}</title>
</head>
<body>
    {% block content %}    
    <div class="container-fluid">
        <div class="row">
            <h2>Creando cliente</h2>
        </div>
        {% if user.is_authenticated %}
            <form method="POST" action="#" id="formulario">
                {% csrf_token %}
                <div class="form-group">
                {{ cliente_form.idCliente.label }}
                {{ cliente_form.idCliente }}
                </div>
                <div class="form-group">
                {{ cliente_form.nombreCliente.label }}
                {{ cliente_form.nombreCliente }}
                </div>
                <div class="form-group">
                {{ cliente_form.correoCliente.label }}
                {{ cliente_form.correoCliente }}
                </div>
                <div class="form-group">
                {{ cliente_form.fonoCliente.label }}
                {{ cliente_form.fonoCliente }}
                </div>
                <div class="form-group">
                {{ cliente_form.direCliente.label }}
                {{ cliente_form.direCliente }}
                </div>
                <div class="row">
                    <div class="col-md">
                        <input type="submit" class="btn btn-primary" value="Enviar" id="Enviar">
                        <input type="reset" class="btn btn-primary" value="Limpiar" id="Limpiar">
                        
                    </div>
                </div>
            </form>
        {% else %}
            <h2 style="color: red;"> No tiene permisos</h2>
        {% endif %}
    </div>

    {%endblock %}
</body>
</html>